{% extends 'base.html.twig' %}
{% block controller %}ng-controller="HomeController"{% endblock %}
{% block main %}
    <section class="page-top custom-product">
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <h1>Introducing the new <strong>product</strong>.</h1>
                    <p class="lead">
                        The fastest way to grow your business with the leader in <em>Technology</em>
                        <span>Check out our options and features included.</span>
                    </p>
                    <a href="#" class="btn btn-default btn-lg push-bottom">Buy Now!</a> <span class="arrow hlt" style="top: 10px;"></span>
                </div>
                <div class="col-sm-5">
                    <img class="pull-right responsive" alt="" src="{{ asset('bundles/viettutweb/img/custom-header.png') }}">
                </div>
            </div>
        </div>
    </section>

    <div class="container">
        <div class="row center">
            <div class="col-md-12">
                <h1 class="short word-rotator-title">
                    Porto is
                    <strong class="inverted">
                        extremely
                    </strong>
                    beautiful and fully responsive.
                </h1>
                <p class="featured lead">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce elementum, nulla vel pellentesque consequat, ante nulla hendrerit arcu, ac tincidunt mauris lacus sed leo. vamus suscipit molestie vestibulum.
                </p>
            </div>
        </div>

        <div class="row push-top">
            <div class="col-md-4">
                <div class="feature-box">
                    <div class="feature-box-icon">
                        <i class="fa fa-group"></i>
                    </div>
                    <div class="feature-box-info">
                        <h4 class="shorter">Hỗ trợ từ cộng đồng</h4>
                        <p class="tall">
                            Nhận được sự trợ giúp từ cộng đồng các lập trình viên ở hầu hết các nền tảng và ngôn ngữ thông dụng nhất hiện nay.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="feature-box">
                    <div class="feature-box-icon">
                        <i class="fa fa-file"></i>
                    </div>
                    <div class="feature-box-info">
                        <h4 class="shorter">Các khóa học miễn phí</h4>
                        <p class="tall">
                            Tham gia các khóa học miễn phí được biên soạn, sưu tập bởi các lập trình viên giàu kinh nghiệm
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="feature-box">
                    <div class="feature-box-icon">
                        <i class="fa fa-google-plus"></i>
                    </div>
                    <div class="feature-box-info">
                        <h4 class="shorter">Nhật ký lập trình</h4>
                        <p class="tall">
                            Trang cá nhân là nơi lập trình viên lưu giữ vấn đề và cách giải quyết, những thủ thuật tâm đắc và chia sẻ với cộng đồng.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="feature-box">
                    <div class="feature-box-icon">
                        <i class="fa fa-user"></i>
                    </div>
                    <div class="feature-box-info">
                        <h4 class="shorter">Lưu giữ code</h4>
                        <p class="tall">
                            Lập trình viên có thể lưu giữ các đoạn code đẹp, hay dùng cho riêng mình hoặc có thể chia sẻ với cộng đồng.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="feature-box">
                    <div class="feature-box-icon">
                        <i class="fa fa-bars"></i>
                    </div>
                    <div class="feature-box-info">
                        <h4 class="shorter">Soạn thảo bằng MarkDown</h4>
                        <p class="tall">
                            Các bài hướng dẫn hoặc các khóa học đều được soạn thảo dưới định dạng MarkDown giúp người đọc dễ theo dõi.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="feature-box">
                    <div class="feature-box-icon">
                        <i class="fa fa-desktop"></i>
                    </div>
                    <div class="feature-box-info">
                        <h4 class="shorter">Công cụ test online</h4>
                        <p class="tall">
                            Bạn có thể sử dụng công cụ test online trong quá trình tham gia khóa học theo phương pháp "learn by doing".
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <hr>
    <div class="container">
        <div class="row text-center">
            <h2>Thử xem qua <strong>các khóa học</strong> của chúng tôi</h2>
        </div>
        <div class="row">
            <div class="tabs">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#courses" data-toggle="tab"><i class="fa fa-star"></i>Khóa học</a>
                    </li>
                    <li>
                        <a href="#tutorials" data-toggle="tab">Bài hướng dẫn</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="courses" class="tab-pane active">
                        <h3>Khóa học tiêu biểu</h3>
                        <ul class="portfolio-list sort-destination" data-sort-id="portfolio">
                            {% for c in popularCourses %}
                                <li class="col-md-4 col-sm-6 col-xs-12 isotope-item websites">
                                    <div class="portfolio-item img-thumbnail">
                                        <a href="{{ path('course_detail', {'hash' : c.hashTag, 'username' : c.author.username}) }}" class="thumb-info">
                                            <img alt="" class="img-responsive" src="{{ c.imagePath }}">
                                            <span class="thumb-info-title">
                                                <span class="thumb-info-inner">{{ c.title }}</span>
                                                <span class="thumb-info-type">{{ c.author.username }}</span>
                                            </span>
                                            <span class="thumb-info-action">
                                                <span title="Universal" class="thumb-info-action-icon"><i class="fa fa-link"></i></span>
                                            </span>
                                        </a>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                        <div class="span12 pagination-centered">
                            <button class="btn btn-primary btn-lg pull-right">Read more ...</button>
                        </div>
                    </div>
                    <div id="tutorials" class="tab-pane">
                        <p>Bài hướng dẫn được quan tâm</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitat.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block custom %}
    <script src="{{ asset('bundles/viettutweb/js/controller/home.js') }}"></script>
{% endblock %}